
.ui-dltab > dt {
  float:left;
  /*
  border:1px solid gray;
  */
  border-bottom:0.2em solid gray;
  padding:0 0.8em;
  margin-right:0.5em;
  line-height:160%;
  cursor:pointer;
  color:blue;
}

.ui-dltab > dt.active {
  border-bottom-color:red;
  background-color:#ffc;
}

.ui-dltab > dd {
  display:none;
  clear:both;
  border:1px solid inherit;
  margin-left:0;
  padding:0.8em 0.5em;
}

.ui-dltab > dd:first-of-type {
  display:block;
}

.ui-dltab {
  border:1px solid silver;
}
